.sm-form-container{
   position: relative;
   .unit{
       position: absolute;
       top: 0;
       right: 0;
       margin-top: 8px;
       margin-right: 40px;
   }
}
.lg-dialog-bg{
   .input-col.col-start{
      display: flex;
      justify-content: flex-start;
      .sm-form-container{
         margin-right: 40px;
      }
   }
}
.input-col.checkbox{
   input{
      width: 16px;
      padding: 0;
   }
}
.checkbox-wrap{
   display: flex;
   align-items: center;
   margin-left: 16px;
   input{
      margin-right: 4px;
   }
}
input[type='radio'] {
   background-color: #447088;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: initial;
    border:initial;
 }

 input[type='radio']:checked:after {
   width: 12px;
   height: 12px;
   border-radius: 16px;
   top: 9px;
   left: 2px;
   position: relative;
   background-color: #447088;
   content: '';
   display: inline-block;
   visibility: visible;
   border: 1px solid white;
}